<!DOCTYPE html>
<html>
<head>
  <title>All Contacts</title>
  <style>
    
    .navbar {
      background-color: #E0EAFF;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-size: 24px;
      font-weight: bold;
    }
    .sub-navbar {
      background-color: #C0C0C0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 50px;
    }
    body {
      background-color: #E0EAFF;
    }
    .content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contact {
      display: flex;
      margin-bottom: 20px;
    }
    .contact img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
    }
    .contact-details {
      display: flex;
      flex-direction: column;
    }
  </style>
</head>
<body>

  <div class="navbar">AlfaSoft</div>
  <div class="sub-navbar">
    <a href="/">Back Home</a>
    <a href="/allContacts">All Contacts</a>
    <a href="/addNew">Add New</a>
  </div>


  <div class="content-wrapper">
    <h1>All Contacts</h1>
    <div>
      <% contacts.forEach(contact => { %>
        <div class="contact">
          <% if (contact.photo) { %>
            <% const photoUrl = contact.photo; %>
            <div class="photo-container">
              <img src="<%= photoUrl %>" alt="Contact Photo">
            </div>
          <% } %>
          <div class="contact-details">
            <p><strong>Name:</strong> <%= contact.firstName %> <%= contact.lastName %></p>
            <p><strong>Email:</strong> <%= contact.mail %></p>
            <p><strong>Phone:</strong> <%= contact.phoneNumber %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>

